{% extends "base.html" %}

{% block content %}
<a href="{% url 'home' %}">Home</a>
<h2>Task</h2>
<form method="POST">
    {% csrf_token %}
    {{ task_form }}
    <input type="submit" name="update" value="Update">
    <input type="submit" name="delete" value="Delete">
</form>
<h3>Comments:</h3>
<form method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" name="add" value="Add">
</form>
<ul>
    {% for c in comments %}
        <li>{{ c.body }}</li>
    {% endfor %}
</ul>
{% endblock content %}